[submodule "Frontend"]
	path = Frontend
	url = https://github.com/Sahan-Chathumina-25/Sahan-Frontend.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/Sahan-Chathumina-25/Sahan-Backend.git
